#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
}


.container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.container-div form {
  background-color: #ffffff;
  width: 340px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.container-div h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}


.container-div form div {
  margin-bottom: 14px;
}

.container-div label {
  display: block;
  margin-bottom: 5px;
  color: #34495e;
  font-weight: bold;
}

.container-div input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s;
}

.container-div input:focus {
  border-color: #5dade2;
}


.container-div span {
  font-size: 12px;
  color: #e74c3c;
}

.container-div button {
  width: 100%;
  padding: 10px;
  background-color: #5dade2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.container-div button:hover {
  background-color: #3498db;
}
